.card {
  position: relative !important;
  max-width: 22rem !important;
  background-image: linear-gradient(
      to left bottom,
      rgb(0, 0, 0, 0.5),
      rgb(0, 0, 0, 0.3)
    ),
    url(/public/assets/mountain.jpg) !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  border-radius: 10px !important;
  height: 300px !important;
  width: 370px !important;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5) !important;
  cursor: pointer !important;
}
.card:hover {
  background-image: linear-gradient(
      to left bottom,
      rgb(0, 0, 0, 0.6),
      rgb(0, 0, 0, 0.6)
    ),
    url(/public/assets/mountain.jpg);
}

.dot_button {
  position: absolute !important;
  top: 17px !important;
  right: 5px !important;
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  color: white !important;
}

.dot_button:hover,
.dot_button:focus,
.dot_button:active {
  background-color: transparent !important;
}

.white_text {
  color: white;
}

.tooltip {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.hstack {
  background-color: rgba(232, 236, 241, 0.3);
  border-radius: 10px !important;
  padding: 10px !important;
  text-align: center;
}
